src/main/resources/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/orders">
	<element name="order">
		<complexType>
			<sequence>
				<element name="product" type="string" />
				<element name="address">
					<complexType>
						<sequence>
							<element name="name" type="string" />
							<element name="address" type="string" />
							<element name="city" type="string" />
							<element name="country" type="string" />
						</sequence>
					</complexType>
				</element>
			</sequence>
			<attribute name="orderid" type="string" use="required"/>
		</complexType>
	</element>
</schema>